{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<div class="container col-md-4 col-md-offset-4 centred-form">
  <form method="post" autocomplete="off">
    {% for field in form.values() %}
        <div class="row">
            {{ field.label() }}
            {% if field.errors %}
                {{ field(class="form-control is-invalid", autocomplete="new-password") }}
                <div class="invalid-feedback">{{ field.errors }}</div>
            {% else %}
                {{ field(class="form-control", autocomplete="new-password") }}
            {% endif %}
        </div>
    {% endfor %}
    
    {{ macros.render_buttons(buttons) }}
  </form>
</div>
{% endblock %}


{% block script %}
    <script>
        $(function () {    
            $('form').on('submit', function(e){
                const tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
                $('#timezone').val(tz);
                });
            });
    </script>
{% endblock %}
