{% macro render_errors(field) %}
    <p id="{{ field.attr.id }}-errors" class="help is-danger">{{ field.errors }}</p>
{% endmacro %}



{% macro render_field(field) %}                
    {% if field.__iter__ %}
        {{ field.label(_class="label") }}
        {% for subfield in field %}
            {{ render_field(subfield) }}
        {% endfor %}
        {{ render_errors(field) }}
        
    {% else %}
        <div class="field">
                {{ field.label(_class="label") }}
            
                {% if field.element == "select" %}
                    {% if field.attr["multiple"] %}
                        {% if field.errors %}
                            <div class="control"><div class="select is-multiple is-danger">{{ field() }}</div></div>
                            {{ render_errors(field) }}
                        {% else %}
                            <div class="control"><div class="select is-multiple">{{ field() }}</div></div>
                        {% endif %}
                    {% else %}
                        {% if field.errors %}
                            <div class="control"><div class="select is-danger">{{ field() }}</div></div>
                            {{ render_errors(field) }}
                        {% else %}
                            <div class="control"><div class="select">{{ field() }}</div></div>
                        {% endif %}
                    {% endif %}
                
                {% elif field.element == "checkbox" %}
                    {% if field.errors %}
                        <label class="checkbox">{{ field(_class="is-danger") }} {{ field.details }}</label>
                        {{ render_errors(field) }}
                    {% else %}
                        <label class="checkbox">{{ field() }} {{ field.details }}</label>
                    {% endif %}
                
                {% elif field.element == "textarea" %}
                    {% if field.errors %}
                        <div class="control">{{ field(_class="textarea is-danger") }}</div>
                        {{ render_errors(field) }}
                    {% else %}
                        <div class="control">{{ field(_class="textarea") }}</div>
                    {% endif %}

                {% else %}
                    {% if field.errors %}
                        <div class="control">{{ field(_class="input is-danger") }}</div>
                    {% else %}
                        <div class="control">{{ field(_class="input") }}</div>
                    {% endif %}
                    {{ render_errors(field) }}

                {% endif %}
        </div>
    {% endif %}
{% endmacro %}



{% macro render_buttons(buttons) %}
    {% if buttons.submit %}<input id="submit-button" class="button is-link" type="submit" value="{{ buttons.submit[0] }}" formaction="{{ buttons.submit[1] }}">{% endif %}
    {% if buttons.back %}<a id="back-button" class="button is-link" href="{{ buttons.back[1] }}">{{ buttons.back[0] }}</a>{% endif %}
    {% if buttons.danger %}<input id="danger-button" class="button is-danger is-pulled-right" type="submit" value="{{ buttons.danger[0] }}" formaction="{{ buttons.danger[1] }}">{% endif %}
{% endmacro %}



{% macro render_buttons2(buttons) %}
    {% if buttons.submit %}<button {{ buttons.submit.attr(class="button is-link", _type="submit") }} >{% endif %}
    {% if buttons.back %}<a {{ buttons.back.attr(class="button is-link") }}>{{ buttons.back.text }}</a>{% endif %}
{% endmacro %}



{% macro render_modal(modal) %}
    <div id="modal" class="modal">
        <div id="modal-background" class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div>{{ modal.text }}</div>
                {% if modal.submit %}<input class="button is-link" type="submit" value="{{ modal.submit[0] }}" formaction="{{ modal.submit[1] }}">{% endif %}
                {% if modal.back %}<button id="modal-cancel" class="button is-link">{{ modal.back[0] }}</a>{% endif %}
            </div>
        </div>
    </div>
{% endmacro %}



{% macro modal_script() %}
    $('#submit-button').click (function () {
        $('#modal').addClass('is-active');
        return false;
        });
    $('#modal-cancel').click (function () {
        $('#modal').removeClass('is-active');
        return false;
        });
    $('#modal-background').click (function () {
        $('#modal').removeClass('is-active');
        return false;
        });
{% endmacro %}



{% macro render_table(table) %}
    <div>
        <div>
            {% if table.title %}<span>{{ table.title }}</span>{% endif %}
            {% if table.get(showhide, True) %}
                <a id="show-hide-button" class="button is-info is-light is-pulled-right is-small"></a>
                <script>
                    defer(function() {
                        const showHide = document.getElementById("show-hide-button");
                        const url = new URL(window.location.href);
                        const hide = JSON.parse(sessionStorage.getItem("hide")) || {};
                        
                        function toggle() {
                            hide[url.pth] = !hide[url.path];
                            updateTable();
                            sessionStorage.setItem("hide", JSON.stringify(hide));
                            }
                        
                        function updateTable() {
                            if (hide[url.pth]) {
                                showHide.innerHTML = '{{ _("Show Deleted") }}';
                                $("tr.deleted").hide();
                                }
                            else {
                                showHide.innerHTML = '{{ _("Hide Deleted") }}';
                                $("tr.deleted").show();
                                }
                            }
                        
                        updateTable();
                        $("#show-hide-button").on("click", toggle);
                        });
                </script>
            {% endif %}
        </div>
        {% if table.new %}<a class="icon" href="{{ table.new }}"><i class="fas fa-plus"></i></a>{% endif %}
    </div>
    
    <table class="table is-striped is-fullwidth">
        <thead class="is-sortable">
            <tr>
                {% for col in table.head %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row, attr in table.body %}
                <tr {% if attr.deleted %}class="deleted"{% endif %} {% if attr.id %} data-id="{{ attr.id }}"{% endif %}>
                    {% for col in row %}
                        <td{% if col.value %} data-sort-value="{{ col.value }}"{% endif %}>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        
            {% if table.actions %}            
                <script>
                    (function() {
                        const tbody = document.currentScript.parentElement;                        
                        defer(function(e) {
                            $(tbody.parentElement).tablesort();
                            $(tbody).one("click", "tr", function() {
                                    const url = new URL("{{ table.actions[0].href }}", window.location.href);
                                    url.pathname = url.pathname.replace("0", $(this).attr("data-id"));
                                    navigate(url.href);
                                    return false;
                                    })
                                .addClass("is-clickable")
                                .contextMenu({
                                    selector: "tr",
                                    events: {
                                        show: function(opt){
                                                    $(this).addClass('is-selected');
                                                    },
                                        hide: function(opt){
                                                    $(this).removeClass('is-selected');
                                                    }
                                        },
                                    items: {
                                        {% for action in table.actions %}
                                            {{ action.name.replace(" ", "_").lower() }}: 
                                                {name: "{{ action.name }}",
                                                callback:  function(key, opt) {
                                                                const url = new URL("{{ action.href }}", window.location.href);
                                                                url.pathname = url.pathname.replace("0", $(this).attr("data-id"));
                                                                {% if action.method == "POST" %}
                                                                    const action = document.getElementById("action");
                                                                    action.value = "{{ action.name }}";
                                                                    const form = document.getElementById("action-form");
                                                                    form.action = url.href;
                                                                    form.submit();
                                                                {% else %}
                                                                    navigate(url.href);
                                                                {% endif %}
                                                                },
                                                {% if action.class %}
                                                visible: function(key, opt) {
                                                            {% if action.class and action.class.startswith("!") %}
                                                                return !$(this).hasClass("{{ action.class[1:] }}");
                                                            {% elif action.class %}
                                                                return $(this).hasClass("{{ action.class }}");
                                                            {% endif %}
                                                            },
                                                {% endif %}
                                                },
                                        {% endfor %}
                                    }});
                            });
                        })();
                </script>
            {% endif %}
        </tbody>
    </table>
{% endmacro %}



{% macro render_form(form, buttons) %}
    {{ form }}
        <div class="columns">
            <div class="column is-three-quaters">
            {% for field in form.values() %}
                {{ render_field(field) }}
            {% endfor %}
            </div>
            <div class="column is-one-quater"></div>
        </div>
        {{ render_buttons(buttons) }}
    </form>
    <p class="help is-danger">{{ form.error }}</p>
{% endmacro %}
