{% extends "bulma/base.html" %} 

{% block content %}
    <script src="{{ url_for('static', filename='js/table.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/tablesort.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/tablemenu.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/tableautoupdate.js') }}" defer></script>
        
    <div>    
        {% if table.new %}<a class="icon" href="{{ table.new }}"><i class="fas fa-plus"></i></a>{% endif %}
        {% if table.get("showhide", True) %}
            <a id="show-hide-button" class="button is-info is-light is-pulled-right is-small" data-show-text="{{ _("Show Deleted") }}" data-hide-text="{{ _("Hide Deleted") }}"></a>
        {% endif %}
    </div>
    
    <table class="table is-striped is-fullwidth{% if table.autoupdate %} autoupdate" data-autoupdate-key="{{ table.autoupdate.key }}" data-autoupdate-value="{{ table.autoupdate.value }}" data-autoupdate-href="{{ table.autoupdate.href }}" data-autoupdate-miliseconds="{{ table.autoupdate.miliseconds }}{% endif %}">
        <thead class="is-sortable">
            <tr>
                {% for col in table.head %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody{% if table.actions %} data-menu-id="table-menu{{ table.id }}"{% endif %}>
            {% for row, attr in table.body %}
                <tr{% if attr.deleted %} class="deleted"{% endif %}{% if attr._class %} class="{{ attr._class }}"{% endif %}{% if attr.id %} data-id="{{ attr.id }}"{% endif %}>
                    {% for col in row %}
                        <td{% if col.value %} data-sort-value="{{ col.value }}"{% endif %}>{{ col }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if table.pagination %}
        <nav class="pagination">
            <ul class="pagination-list">
                {% for button in table.pagination %}
                    <li><a class="pagination-link{% if button.current %} is-current{% endif %}" href="{{ button.href }}">{{ button.text }}</a></li>
                {% endfor %}
            </ul>
        </nav>   
    {% endif %}

    {{ table_form }}
        <input id="action" type="hidden" name="action" value="">
        {% if buttons %}
            {% if buttons.submit %}<input id="submit-button" class="button is-link" type="submit" value="{{ buttons.submit[0] }}" form="table-form" formaction="{{ buttons.submit[1] }}">{% endif %}
            {% if buttons.back %}<a id="back-button" class="button is-link" href="{{ buttons.back[1] }}">{{ buttons.back[0] }}</a>{% endif %}
        {% endif %}
        {% include "bulma/modal.html" %}
    </form>
    
    {% if table.actions %}
        <div class="dropdown" id="table-menu{{ table.id }}">
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    {% for action in table.actions %}
                        <a class="dropdown-item" data-href="{{ action.href }}" data-method="{{ action.method }}" data-visible-if="{{ action.class }}">{{ action.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
