<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--title></title-->
    <style>
        html, body {
            height: 100%;
            margin: 0;
            background: #000;
            overflow: hidden;
        }

        #seadragon {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="seadragon"></div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon.2.4.2.min.js') }}" charset="utf-8"></script>
    <!--script type="text/javascript" src="{{ url_for('static', filename='js/openseadragon-annotations.1.0.2.js') }}" charset="utf-8"></script-->
    
    <script type="text/javascript">
        var iconPath = "{{ url_for('static', filename='icons/') }}"
        
        OpenSeadragon.setString("Tooltips.Home", "{{ _('Go home') }}");
        OpenSeadragon.setString("Tooltips.FullPage", "{{ _('Toggle full page') }}");
        OpenSeadragon.setString("Tooltips.ZoomIn", "{{ _('Zoom in') }}");
        OpenSeadragon.setString("Tooltips.ZoomOut", "{{ _('Zoom out') }}");
        OpenSeadragon.setString("Tooltips.NextPage", "{{ _('Next page') }}");
        OpenSeadragon.setString("Tooltips.PreviousPage", "{{ _('Previous page') }}");
        OpenSeadragon.setString("Tooltips.RotateLeft", "{{ _('Rotate left') }}");
        OpenSeadragon.setString("Tooltips.RotateRight", "{{ _('Rotate right') }}");

        var viewer = OpenSeadragon({
            id: "seadragon",
            showRotationControl: true,
            showNavigator: true,
            prefixUrl: iconPath,
            //tileSources: "{{ url_for('static', filename='downloads/heic1502a.dzi') }}",
            tileSources: "{{ dzi_url }}",
            });
        
        var exitButton = new OpenSeadragon.Button({
            tooltip: "{{ _('Exit') }}",
            srcRest: iconPath+"exit_rest.png",
            srcGroup: iconPath+"exit_grouphover.png",
            srcHover: iconPath+"exit_hover.png",
            srcDown: iconPath+"exit_pressed.png",
            });
        exitButton.addHandler("click", function() {window.location.replace("{{ url_back }}");});

        viewer.buttons.buttons.push(exitButton);
        viewer.buttons.element.appendChild(exitButton.element);
        //viewer.initializeAnnotations();
    </script>
</body>
</html>

